<div class="wrapper">
  <div class="title-logo">
    <h1>{{ title }}</h1>
    <img src="./assets/logo-como.svg" alt="logo" />
  </div>
  <div class="container">
    <nav class="main-navigation">
      <ul>
        <li>
          <a routerLink="basics" routerLinkActive="active"> Basics </a>
          <ul>
            <li>
              <a routerLink="basics/grooming" routerLinkActive="active">
                Grooming
              </a>
            </li>
            <li>
              <a
                routerLink="basics/behaviour-guidelines"
                routerLinkActive="active"
              >
                Behaviour guidelines
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a routerLink="room-status" routerLinkActive="active">
            Room status
          </a>
          <ul>
            <li>
              <a routerLink="room-status/occupied" routerLinkActive="active">
                Occupied
              </a>
            </li>
            <li>
              <a routerLink="room-status/vacant" routerLinkActive="active">
                Vacant
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a routerLink="cleaning-status" routerLinkActive="active">
            Cleaning status
          </a>
          <ul>
            <li>
              <a routerLink="cleaning-status/light" routerLinkActive="active">
                Light
              </a>
            </li>
            <li>
              <a
                routerLink="cleaning-status/linen-change"
                routerLinkActive="active"
              >
                Linen change
              </a>
            </li>
            <li>
              <a routerLink="cleaning-status/full" routerLinkActive="active">
                Full
              </a>
            </li>
            <li>
              <a routerLink="cleaning-status/arrival" routerLinkActive="active">
                Arrival
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a routerLink="products-and-tools" routerLinkActive="active">
            Products and tools
          </a>
          <ul>
            <li>
              <a
                routerLink="products-and-tools/list-of-products"
                routerLinkActive="active"
              >
                List of products
              </a>
            </li>
            <li>
              <a
                routerLink="products-and-tools/list-of-tools"
                routerLinkActive="active"
              >
                List of tools
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a routerLink="procedure-entering-room" routerLinkActive="active">
            Procedure entering the room
          </a>
        </li>
        <li>
          <a routerLink="step-by-step-guide" routerLinkActive="active">
            Step by step guide
          </a>
          <ul>
            <li>
              <a
                routerLink="step-by-step-guide/stayover"
                routerLinkActive="active"
                >Stayover</a
              >
            </li>
            <li>
              <a
                routerLink="step-by-step-guide/vacant"
                routerLinkActive="active"
                >Vacant</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="content">
      <router-outlet />
    </div>
  </div>
</div>
